.benefits {
    min-height: 473px;
    padding: 66px 0 65px 0;
    background: url('../img/bg_benefits.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__icon {
        width: 237px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        img {
            margin-bottom: 30px;
        }
        br {
            display: none;
        }
        a {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        margin-bottom: 20px;
    }
}
