.footer {
    position: relative;
    height: 630px;
    &__info {
        padding: 50px 68px 60px 68px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        text-align: center;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 38px;
        text-align: center;;
        color: #FFFFFF;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        margin: 0 15px;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}