@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 19px;
        }
        &__icons {
            width: 370px;
        }
        &__icon {
            font-size: 13px;
        }
        &__link {
            a {
                font-size: 14px;
            }
        }
    }
    .benefits {
        &__title {
            font-size: 16px;
        }
    }
    .title {
        font-size: 25px;
    }
    .footer {
        &__info {
            left: 50%;
        }
        &__addr {
            font-size: 18px;
        }
        &__phone {
            font-size: 18px;
            }
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 700px;
    }
    .header {
        &__logo {
            width: 220px;
        }
        &__official {
            font-size: 10px;
        }
            span {
                font-size: 16px;
            }
        &__phone {
            font-size: 15px; 
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    .promo {
        min-height: 600px;
        padding: 21px 0 60px 0;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 300px;
        }
        &__icon {
            font-size: 11px;
        }
        &__link {
            font-size: 12px;
            a {
                font-size: 12px;
            }
        } 
    }
    .button {
        &_main {
            margin-top: 50px;
            width: 250px;
            font-size: 13px;
        }
    }
    .title {
        font-size: 20px;
    }
    .benefits {
        min-height: 400px;
        padding: 45px 0 65px 0;
        &__title {
            font-size: 16px;
        }
        &__icons {
            margin-top: 40px;
        }
        &__icon {
            width: 200px;
            font-size: 11px;
        }
            br {
                display: list-item ;
            }
            a {
                font-size: 12px;
            }
        &__title {
            font-size: 15px;
            margin-bottom: 15px;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
    }
    .carousel {
        padding: 60px 0;
        .prev, .next {
            left: -25px;
            img {
                width: 25px;
                height: 40px;
            }
        }
        .next {
            right: -25px;
            left: auto;
        }
        .tns-item {
            img {
                display: block;
                width: 90%;
                margin: 0 auto; 
            }
        }
    }
    .catalog {
        &__content {
            display: none;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 60px;
            &_active {
                display: flex;
            }
        }
    }
    .feed {
        &__img {
            width: 139px;
            height: 139px;
        }
        &__subtitle {
            font-size: 17px;
        }   
        &__descr {
            font-size: 14px;
        }
    }
    .footer {
        height: 430px;
        &__info {
            padding: 20px 40px 20px 40px;
            position: absolute;
            top: 0;
            left: 80%;
            transform: translateX(-50%);
            width: 300px;
            height: 150px;
            background: $main-color;
        }
        &__addr {
            margin-bottom: 15px;
            font-size: 13px;
        }
        &__phone {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        iframe {
            height: 470px;
        }
    }
    .modal {
        width: 380px;
        min-height: 300px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
        }
            span {
                font-size: 14px;
            }
        &__phone {
            font-size: 12px; 
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
    .button {
        width: 130px;
        height: 25px;
        font-size: 12px;
        &_main {
            margin-top: 67px;
            width: 200px;
            height: 30px;
            font-weight: 500;
            font-size: 12px;
        }
        &_submit {
            width: 100%;
            height: 30px;
            font-size: 12px;
        }
    }
    .promo {
        min-height: 500px;
        padding: 22px 0 40px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 25px;
            line-height: 25px;
        }
        &__subheader {
            margin-top: 14px;
            font-size: 13px;
        }
        &__icons {
            margin-top: 30px;
            width: 300px;
        }
        &__icon {
            font-size: 11px;
            img {
                width: 45%;
                height: 45%;
            }
        }
        &__link {
            font-size: 11px;
            a {
                font-size: 11px;
            }
        }
    }
    .benefits {
        min-height: 360px;
        padding: 35px 0 35px 0;
        &__title {
            font-size: 16px;
        }
        &__icons {
            margin-top: 40px;
        }
        &__icon {
            width: 160px;
            font-size: 11px;
            br {
                display: list-item ;
            }
            a {
                font-size: 12px;
            }
        }
        &__title {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
    .consultation {
        padding: 70px 0;
        &__descr {
            font-size: 16px;
            line-height: 25px;
            text-align: center;
        }
    }
    .title {
        &_left {
            line-height: 30px;
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
    .carousel {
        padding: 80px 0;
        .prev, .next {
            left: -14px;
        }
        .next {
            right: -14px;
            left: auto;
        }
    }
    .feed {
        &__img {
            width: 139px;
            height: 139px;
        }
        &__subtitle {
            font-size: 15px;
        }   
        &__descr {
            font-size: 11px;
            line-height: 18px;
        }
        &__count {
            font-size: 13px;
        }
    }
    .footer {
        height: 300px;
        &__info {
            padding: 20px 10px 10px 10px;
            position: absolute;
            width: 250px;
            height: 100px;
            top: 100%;
            left: 170px;
            transform: translateY(-100%);
            background: $main-color;
        }
        &__addr {
            margin-bottom: 10px;
            font-size: 13px;
            line-height: 10px;
        }
        &__phone {
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 12px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        iframe {
            height: 100%;
        }
    }
    .feed-form {
        input {
            height: 45px;
        }
    }
}
@media (max-width: 575px) {
    .container {
        max-width: 300px;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 170px;
        &__logo {
            width: 200px;
            img {
                width: 100%;
            }
        }
        &__official {
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            text-align: center;
            span {
                display: block;
                font-size: 16px;
            }
        }
        &__phone {
            display: block;
            font-weight: 700;
            font-size: 18px; 
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .button {
        width: 130px;
        height: 25px;
        font-size: 10px;
        margin-top: 5px;
        &_main {
            margin: 0 auto;
            margin-top: 67px;
            width: 200px;
            height: 30px;
            font-weight: 500;
            font-size: 10px;
        }
        &_submit {
            margin-top: 15px;
            width: 100%;
            height: 30px;
            font-size: 10px;
        }
    }
    .promo {
        min-height: 500px;
        padding: 21px 0 40px 0;
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 23px;
            line-height: 35px;
            text-align: center;
        }
        &__subheader {
            margin: 0 auto;
            margin-top: 14px;
            font-size: 13px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            margin-top: 30px;
            width: 200px;
        }
        &__icon {
            font-size: 11px;
            margin-bottom: 20px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
            img {
                width: 45%;
                height: 45%;
            }
        }
        &__link {
            font-size: 11px;
            margin: 0 auto;
            margin-top: 10px;
            a {
                font-size: 11px;
            }
        }
    }
    .benefits {
        padding: 29px 0 35px 0;
        &__title {
            font-size: 16px;
        }
        &__icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
        }
        &__icon {
            width: 200px;
            font-size: 11px;
            margin-bottom: 20px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
            br {
                display: list-item ;
            }
            a {
                font-size: 12px;
            }
        }
        &__title {
            font-size: 15px;
            margin-bottom: 15px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 70px 0;
        &__descr {
            font-size: 13px;
            line-height: 25px;
        }
    }
    .title {
        &_left {
            font-size: 19px;
        }
    }
    .feed-form {
        width: 100%;
        margin: 0 auto;
        margin-top: 36px;
        input {
            height: 40px;
        }
    }
    .carousel {
        padding: 40px 0;
        .prev, .next {
            display: none;
        }
        .next {
            display: none;
        }
    }
    .tns-nav {
        margin-top: 30px;
    }
    .catalog {
        padding-bottom: 10px;
        &__tabs {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 30px;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
        }
        &__tab {
            width: 252px;
            height: 52px;
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__content {
            margin-top: 30px;
            &_active {
                display: flex;
                margin-top: 30px;
            }
        }
        &-item__content {
            width: 50%;
            margin-right: 0;
            transform: translateX(-105%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
    }
    .feed {
        padding: 0 0 20px 0;
        &__img {
            width: 100px;
            height: 100px;
        }
        &__subtitle {
            font-size: 15px;
        }   
        &__descr {
            font-size: 11px;
            line-height: 16px;
        }
        &__count {
            font-size: 13px;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        &__text {
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
        br {
            display: none;
        }
    }   
    .footer {
        position: relative;
        height: 250px;
        &__info {
            position: absolute;
            padding: 20px 10px 10px 10px;
            width: 100%;
            left: 0px;
            height: 125px;
            background: $main-color;
        }
        &__addr {
            margin-bottom: 10px;
            font-size: 13px;
            line-height: 10px;
        }
        &__phone {
            font-size: 12px;
            margin-bottom: 10px;
            line-height: 12px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                width: 30px;
                height: 30px;
            }
        }
        iframe {
            height: 50%;
        }
    }
    .modal {
        width: 280px;
        min-height: 350px;
        padding: 20px 20px 20px 20px;
        &__close {
            position: absolute;
            top: -25px;
            right: 0;
            font-size: 30px;
        }
        &__subtitle {
            margin: 0 auto;    
            width: 240px;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            width: 160px;
            margin: 0 auto;
            font-size: 11px;
            line-height: 12px;
            margin-top: 10px;
        }
    }
}
       